body{
    background-color: cadetblue;
}
.text-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.magic-name{
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin: 20px;
    align-items: center;
}


.ball{
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
}

.white-surface{
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ball-text{
    margin: auto;
    font-size: 60px;
}


.ball-search{
    margin: auto;
    display: flex;
    flex-direction: column;

}

.ask-search{
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 35px;
    height: 30px;
    
}

.form-control{
    width: 13pc;
    border-radius: 15px;
    font-size: large;
}

.btn-dark{
    font-size: larger;
    border-radius: 15px;
}


.game-boy-body{
    margin: auto;
    width: 350px;
    height: 500px;
    background: royalblue;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 30px;
}

.game-boy-screen{
    margin: 20px;
    width: 300px;
    height: 300px;
    background-color: lightgrey;
    padding: 1pc;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.container-button{
    display: grid;
    grid-template-columns: 15% 13% 15% 15% 15% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 300px;
    height: 142px;
}

.btn-A{
    display: grid;
    grid-column-start: 7;
    grid-row-start: 2;
    font-size: larger;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-b{
    grid-column-start: 6;
    grid-row-start: 3;
    width: 35px;
    height: 36px;
    border-radius: 20px;
    font-size: large;
    
}

.btn-left{
    grid-row-start: 3;
    border-radius: 0 57% 50% 0;
    width: 36px;
}

.btn-up{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 33px;
    border-radius: 0px 0px 30px 25px;
    height: 36px;
}

.btn-right{
    grid-column-start: 3;
    grid-row-start: 3;
    width: 38px;
    border-radius: 40px 0 0 30px;
}

.btn-down{
    grid-column-start: 2;
    grid-row-start: 4;
    width: 33px;
    border-radius: 40px 40px 0 0;
    height: 34px;
}